.main2 {
    width: 100%;
    background: #3c096c;
    padding: 3%;
    display: grid;
    grid-template-rows: 5% 50% 10% 30%;

}
.child2 {
    justify-self: end;
    color: yellow;
}
.child2 i {
    font-size: 2rem;
}
.cima {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 3%;
    padding: 2%;
}
.wrongboard {
    justify-self: end;
    width: 25%;
    background: white;
}
.word {
    color: yellow;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}